<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="./include/style.css">
	<?php
		$charset = "iso-8859-1";
		$page_title = "Tieu de trang";
		include("./include/head.html");
	?>
	</head>

	<body>
		<?php
			include("./include/header.html");
		?>
		<!-- BAT DAU NOI DUNG TRANG -->

		<!-- NOI DUNG TRANG -->

		<!-- KET THUC NOI DUNG TRANG -->
		
		<?php
			include("./include/footer.html");
		?>
	</body>
</html>
